* {
  margin: 0;
  padding: 0;
}
h1 {
  padding: 20px;
  color: #8a2be2;
  font-size: 150%;
  font-style: italic;
}
h2 {
  color: red;
  font-style: italic;
  margin: 20px;
}

.masloc{
  margin: 20px;
}

#manner {
  right: inherit;
}

#banner {
  padding: 20px;
  font-size: 150%;
}

#matter {
  margin: 0;
  padding: 0;
}

#table-heading {
  text-align: center;
  text-decoration: underline;
  color: #8a2be2;
}
.tables-text {
  text-align: center;
  position: absolute;
  align-items: center;
  margin-left: 450px;
}

th {
  font-size: 120%;
}

#cast {
  width: 5%;
  height: 10%;
  border-radius: 10px;
  background-color: gainsboro;
}

#sass {
  width: 5%;
  border: radius 10px;
  background-color: gainsboro;
  height: 10%;
  margin: 10px;
}
#main a {
  color: forestgreen;
  font-size: 140%;
  padding: 4px 6px;
  text-decoration: none;
  top: 100px;
  display: inline-block;
  
}

#main a::after{

  content: "";
  height: 3px;
  width: 0;
  background:  #8a2be2;
  display: block;
  margin: auto;
  transition: 1s;

}

#main a:hover::after{

  width: 100%;
}

#header {
  width: 100%;
  height: 26s00px;
  background-color: #f0e8a0;
}

#container {
  margin: 50px;
}
#image {
  margin: 30px;
  border-radius: 60px;
}

#image img{
  border-radius: 200px;
}
#come {
  background-color: pink;
}

.goat {
  text-align: center;
  text-decoration: underline;
  padding: 30px;
  color: blueviolet;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
  padding: 30px;
  font-size: 150%;
  color: #8a2be2;
  text-decoration: underline;
  font-style: italic;
}

#samira {
  text-align: center;
  font-size: 170%;
}

#samira p{
  padding: 5px;
}
#sasco {
  padding: 60px;
  font-size: 160%;
}
#caster {
  width: 60px;
  height: 20px;
  border-radius: 60px;
  cursor: pointer;
  margin: 20px;
}

#button {
  width: 60px;
  height: 20px;
  border-radius: 60px;
  cursor: pointer;
  margin: 20px;
}

.message-heading {
  text-align: center;
  text-decoration: underline;
  color: blueviolet;
  font-size: 160%;
  padding: 50px;
  font-style: italic;
}

#yidana {
  background-color: white;
  height: 200px;
  width: 100%;
  margin: 0;
}



.foot {
  text-align: center;
  font-style: bold;
  font-size: 200%;
  padding: 20px;
}

#footer {
  text-align: center;
  color: blue;
  font-size: 150%;
  padding: 20px;
  font-style: italic;
}

.main-body {
  font-size: 120%;
}

#text {
  text-align: center;
  font-size: 110%;
  padding: 50px;
  cursor: pointer;
}

#main {
  text-align: right;
  padding: 20px;
}

#last {
  color: blue;
  font-size: 75%;
  font-style: italic;
}
.footer-image {
  text-align: center;
  border-radius: 20px;
  padding: 70px;
}

.footer-image img {
  border-radius: 65px;
}

#paragraph {
  font-size: 90%;
  text-decoration: none;
  font-style: italic;
}

label {
  float: left;
  padding-right: 100px;
  line-height: 20%;
  display: block;
  width: 200px;
  color: #8a2be2;
  font-size: 130%;
}

input{
  
  height: 25px;
}

#back {
  text-align: center;
  padding: 30px;
  border-radius: 60px;
}

#back button {
  border-radius: 60px;
  transition: 0.5s;
  z-index: -1;
  cursor: pointer;
}

#back button :hover span {
  transition: solid white 0.5s;
  width: 0;
  height: 100vh;
}

h5 {
  padding: 10px;
  font-size: 100%;
  font-style: italic;
}

#title-text {
  text-align: center;
  padding: 20px;
  margin-top: 10%;
}

#title-text h1 {
  font-weight: bold;
  text-align: center;
}

#title-text p {
  font-size: 20px;
  margin: auto;
  color: #009688;
  font-weight: bold;
  display: inline-block;
  position: relative;
}

#title-text p::after {
  content: "";
  width: 30px;
  height: 30px;
  top: -20px;
  left: -5px;
  z-index: -1;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  background: pink;
  transform: rotate(10deg);
  position: absolute;

}

#main a:hover{
  color: blue;
  transition: 0.5s;
  border: 0.5px solid white transition 0.5s;
  background: white;
  border-radius: 6px;
  border-width: 10px;
  z-index: 1;

}

